    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Software Engineer and Architect</h2>
                <p>I have been a Software Engineer for over 10 years and filled an Architect role for the past year. I have worked primarily with <a href="https://www.microsoft.com/net">Microsoft .Net</a> Enterprise Applications, focusing more on Web development through <a href="https://www.asp.net/">ASP .NET</a>.</p>
                <p>Recently my interests in web development have taken me away from Microsoft technologies and I have worked with <a href="https://nodejs.org/en/">Node.js</a> and it's associated technologies as well as Javascript frameworks such as <a href="https://en.wikipedia.org/wiki/Asynchronous_module_definition">AMD</a>.</p>
                <ul class="list-unstyled">                    
                    <li><span class="lead">ASP.NET</span>
                        <ul class="list-unstyled">
                            <li>C#</li>
                            <li>MVC 4</li>
                            <li>OWIN</li>
                            <li>.NET Core</li>
                        </ul>
                    </li>                    
                    <li><span class="lead">Javascript</span>
                        <ul class="list-unstyled">
                            <li>Bower</li>
                            <li>Require.js</li>                            
                            <li>Knockout.js</li>
                        </ul>
                    </li>
                    <li><span class="lead">Node.js</span>
                        <ul class="list-unstyled">
                            <li>npm</li>
                            <li>grunt</li>
                            <li>gulp</li>
                        </ul>
                    </li>
                    <li><span class="lead">Serverless</span>
                        <ul class="list-unstyled">
                            <li>Firebase</li>
                            <li>Auth0</li>
                            <li>Snipcart</li>                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>